*{
  box-sizing: border-box;
}
section {
  margin: 60px 0;
}
.heading h1 {
  font-family: 'Bw Modelica LTI';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
  text-align: center;
  color: #00009D;
  width: 898px;
  margin: 0 auto;
}
.heading h2 {
  font-family: 'Bw Modelica';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #00009D;
  margin: 0 auto;
}
.heading h5 {
  font-family: 'Bw Modelica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #242525;
  width: 668px;
  margin: 0 auto;
}

/* slider */

#slider {
  position:relative;
}
#slider .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
#slider .carousel-caption {
  position: absolute;
  width: 448px;
  height: 135.28px;
  left: 40px;
  top: 142px;
}
#slider h1 {
  font-family: 'Bw Modelica LTI';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
  color: #FFFFFF;
  text-align: left;
}
#slider .carousel-inner img {
  height: 900px;
}
#slider h3 {
  font-family: 'Bw Modelica';
  font-style: normal;
  font-weight: 400;
  text-align: left;
  font-size: 24px;
  line-height: 34px;
  color: #FFFFFF;
}
#slider .center-logo img {
  width: 100%;
  height: 100%;
}
#slider .center-logo {
  display: flex;
}

#slider .video-image {
  position: relative;
}

#slider .video-content {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}
#slider .video-content i {
  width: 60px;
  height: 58px;
  color: #fff;
  padding: 17px 20px;
  font-size: 18px;
  cursor: pointer;
  border: 4px solid #fff;
  border-radius: 50%;
}
#slider .video-image {
  position: absolute;
  right: 5%;
  bottom: -12%;
}
#slider .video-image img {
  border-radius: 10px;
}

/* Staff */

#staff {
  text-align: center;
}
#staff h6 {
  font-family: 'Bw Modelica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #242525;
  text-align: left;
}
#staff .staff_btn {
  padding: 12px 60px;
  margin-top: 60px;
  display: inline-block;
  gap: 10px;
  background: #00009D;
  border-radius: 4px;
}
#staff .staff_btn a{
  font-family: 'Bw Modelica';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
#staff i {
  color: #F18020;
  margin-right: 15px;
  font-size: 20px;
  margin-top: 6px;
}
#staff .staff-data {
  display: flex;
  margin-top: 36px;
}

/* Work */

#work {
  text-align: center;
  background: #E5ECF7;
  padding: 80px 0;
}
#work h6 {
  font-family: 'Bw Modelica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #00009D;
  text-align: left;
}
#work .work_btn {
  text-align: left;
}
#work .work_btn a{
  font-family: 'Bw Modelica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 19px;
  color: #000000;
}
#work i {
  color: #F18020;
  margin-right: 7px;
  font-size: 18px;
  margin-top: 8px;
}
#work .work-data {
  margin-top: 30px;
  height: 125px;
}

/* Event */

#event {
  text-align: center;
  background: #E5ECF7;
  padding: 80px 0;
}
#event h6 {
  font-family: 'Bw Modelica';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #00009D;
  text-align: left;
}
#event .event_btn {
  text-align: left;
}
#event .event_btn a{
  font-family: 'Bw Modelica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 19px;
  color: #000000;
}
#event .event_btn i {
  color: #F18020;
  margin-right: 7px;
  font-size: 18px;
  margin-top: 8px;
}
#event .event-data {
  margin-top: 30px;
  height: 125px;
  text-align: left;
}
#event span {
  font-family: 'Bw Modelica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #4F4F4F;
}

/* service */

#service {
  margin: 160px 0;
}
#service .services_body {
  margin-top: 100px;
}
#service .title {
  font-family: 'Bw Modelica LTI';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #242525;
} 
#service .subtitle {
  font-family: 'Bw Modelica';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #242525;
} 
#service .desc {
  font-family: 'Bw Modelica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #242525;
}
#service .btn {
  border-radius: 8px;
  background-color: transparent;
  font-size: 18px;
  line-height: 20px;
  border: 1px solid #00009D;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  color: #00009D;
  padding: 14px 40px;
  transition: 0.3s all ease-out;
  position: relative;
}

#service .btn_blue {
  background-color: #00009D;
  color: #fff;
  border-color: #00009D;
  border-radius: 4px;
  padding: 12px 0;
  max-width: 212px;
  width: 100%;
}
#service .btn_blue:hover {
  box-shadow: 0px 8px 16px 0 rgba(0, 153, 46, 0.25);
  color: #fff;
}
#service .first {
  padding-bottom: 116px;
}
#service .second {
  padding-bottom: 150px;
}
#service .inner_left_download h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 8px;
}
#service .inner_left_download h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 35px;
}
#service .inner_left_download a {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  color: #fff;
  position: absolute;
  bottom: 20px;
}
#service .inner_left_download a img {
  width: 27px;
  height: 18px;
  margin-right: 12px;
}
#service .left_download {
  position: absolute;
  top: 70px;
  left: -70px;
  background: #00009D;
  color: #fff;
}
#service .inner_left_download {
  padding: 20px;
  box-shadow: -3px 3px 6px rgba(0, 0, 0, 0.22);
  border-radius: 4px;
  max-width: 236px;
}
#service .service_img {
  position: relative;
}
#service .left_download.right_download {
  position:absolute;
  left: unset;
  right: -70px;
}

/* client */

#client {
  text-align: center;
}
#client .client_data h5 {
  font-family: 'Bw Modelica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #242525;
  margin-top: 40px;
  text-align: center;
}
#client .client_data a {
  font-family: 'Bw Modelica';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
#client .client-img img {
  width: 100%;
}
#client .client_btn {
  padding: 12px 60px;
  margin-top: 60px;
  display: inline-block;
  gap: 10px;
  background: #00009D;
  border-radius: 4px;
}